<div class='parent'>
  <div class='child'></div>
</div>

<style>
  .parent{
    width:100px;
    height:100px;
    position:relative;
    background-color:red;
  }
  .child{
    width:50px;
    height:50px;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    background-color:blue;
  }
</style>