<div id="content">
  <div class="container">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
    <div class="box">5</div>
    <div class="box">6</div>
  </div>
</div>

<style>
  .box {
	width: 300px;
	height: 150px;
	background-color: lightcoral;
	display: flex;
	margin: 10px 5px;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 60px;
}

#content {
	width: 100%;
}

.container {
	height: 100%;
	width: 620px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 60px;
	margin: 100px auto;
}

.box:nth-child(even) {
	margin-top: 100px;
	margin-bottom: -50px;
}

@media screen and (max-width: 200px) {
.box {
		width: 100%;
		margin: 10px 0;
	}

.box:nth-child(even) {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.container {
		display: block;
		padding-bottom: 0;
		margin: 0;
	}
}
</style>