<p>
  We're excited to announce an ongoing effort to maintain official transaction of the React documentation website into different languages. Thanks to the dedicated efforts of React community members from around the world, React is now being translated into 30 languages! You can find them on the new Languages page.
  <br />
  
  In addition, the following three languages have completed translating most of the React Docs! 
  <br />

  Special Congratulations to Alejandro Nanez Ortiz, Rainer Martinez Fraga.
  <br />

  React already has many meetups and conferences around the world, but many programmers don't use English as their primary language. We'd love to support local communities who use React by making our documentation available in most popular languages.
  <br />

  In the past, React community members have created unofficial translation for Chinese, Arabic, and Korean; by making an official channel for these translated docs we're hoping t make them easier to find these translated docs we're hoping to make them easier to find and help make sure that non-English-speaking users of React aren't left behind.
  <br />

  If you world like to help out on a current translation, check out the Languages page and click on the "Contribute" link for your language.
  <br />

  Can't find your language? If you'd like to maintain your language's translation fork, follow the instructions in the translation repo!
  <br />

  Hi everyone! I'm Nat! You may know me as the poluhedra lady. For the past few weeks, I've geen helping the React team coordinate their translation effort. Here's how I did it. 
  <br />

  Our original approach for translations was to use a SaaS platform that allows users to submit translations. There was already a pull request to integrate it and my original responsibility was to finish that integration. However, we had concern aboout the feasibility of that integration and the current quality of translations on the platform. Our primary concern was ensuring that translations kept up to date with main repo and didn't become "stale".
  <br />

  Dan encouraged me to look for alternate solutons, and we stumbled across how Vue maintained its translations --- through different forks of the main repo on GitHub. IN aprticular, the Japanese translation used a bot to periodically check for changes in the English repo and submits pull requests whenever there is a change. 
  <br />

  This approach apppealed to us for several reasons:
  <br />

  - It was less code integration to get off the ground.
  - It encouraged active maintainers for each repo to ensure quality.
  - Contributors already understand GitHub as a platform and are motivated to contribute directly to the React organization.
  <br />

  We started off with an initial trail period of three languages: Spanish, Japanese, and Chinese. This allowed us to work out any kinks in our process and make sure future translations are set up for success. I wanted to give the translation teams feedom to choose whatever tools they felt comfortable with.




</p>