body{
	/* background-color:black; */
	text-align:center;
}
a{
	text-decoration: none;
}
.app-main{
	text-align:center;
}
.header-main{
	color:white;
}
.app-logo{
	width:500px;
	height:400px;
	animation: logo-ani  infinite 15s linear; 
}

@keyframes logo-ani{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
