.reg-form-main{
  margin-left:15vw;
}
.field{
  margin-bottom:10px;
}
.field a{
  margin-right:10px;
}
.field div{
  display: inline-block;
  width:15vw;
}
#full-name{
  display: inline-block;
  margin:0;
}
.field textarea{
  margin: 0px;
  height: 90px;
  width: 228px;
  vertical-align: top;
}