p{
  margin-top:0;
}
.user-list-panel{
  display: inline-block;
}
.user-name{
  cursor:pointer;
}
.user-details-panel{
  display: inline-block;
  vertical-align: top;
  margin-left:5vw;
  padding:5% 15% 5% 25%;
  width: 25vw;
  background-color: lightblue;
}
.user-icon{
  border: 1px solid lightgrey;
  border-radius: 100%;
  max-width: 100px;
  height: 100px;
  margin: 0 auto;
}
.user-icon img{
  width:100%;
  border-radius: 100%;
}
.user-info{
  margin-top:2vh;
}