body{
  font-size: 16px;
}
.userIcon img{
  width:20px;
}
.progress{
  width:170px;
  display:inline-block ;
  height: 4px;
}
.progress-bar{
  display: list-item;
  animation: progress 1.5s ease-in-out forwards;
}
.table{
  width:50vw;
}
.table td{
  border-top:unset !important;
}
