body{
  color:white;
}
h1{
  margin:0;
}
h5{
  margin-top:4%;
}
::placeholder{
  color:#62638C;
}
a{
  color:unset;
  vertical-align: text-bottom;
}
.formMain{
  padding: 0 1% 0% 1% ;
  background-color: white;
  position: absolute;;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 96vh;
  width:25vw;
}
.title{
  padding:5% 5% 5% 5%;
  background-color: #252E45;
}
.title h1{
  font-size: x-large;
  margin-bottom: 2%;
}
.fields{
  background-color: #3D4067;
  /* margin: 2vh 0 2vh 0; */
  font-size: 12px;
  padding:5%;
}
.fields div{
  margin-bottom:12%;
}
.line-input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #62638C;
  outline: none;
  background-color: transparent;
  padding: 0 0 1px 2px;
  color:white;
}
label{
  margin-right:3vw;
  color:#62638C;
}
.radiobox input{
  width: 11px;
}
.radiobox a{
  margin-right:3vw;
  margin-left:1%;
}
.login{
  background-color: #524F82;
  text-align: center;
  padding: 2%;
  font-size: 14px;
}
.login p a{
  font-weight: bold;
  cursor: pointer;
  color: unset;
}
.submit{
  margin: 6vh 0 1vh 0 !important;
}
.submit button{
  background-color: transparent;
  color: white;
  border: 1px solid #62638C;
  border-radius: 16px;
  padding: 7px 21px 7px 21px;
  outline:none;
  cursor:pointer;
}