a{
  color: unset;
  text-decoration: none;
  vertical-align: text-bottom;
}
.formMain{
  position: absolute;
  width:30%;
  height:90%;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0; 
  background-color:white;
  border-block-start: 4px solid #F5BA1A;
  border-block-end: 4px solid #F5BA1A;
  padding:2vw;
}
.title div h2{
  font-weight: 600;
}
.fields{
  margin-top: 5%;
}
.icon-and-input div{
  padding:2%;
  margin-bottom: 5%;
  display: inline-block;
  border:1px solid lightgray;
}
.first-name, .last-name{
  display: inline-block;
  width:100%;
}
.iconDiv{
  padding:2%;
  border: 1px solid lightgray;
  border-right:0px !important;
}
.input{
  width:84%;
}
.input input{
  width:100%;
  border:none;
  outline:none;
  color:#A9ACBC;  
}
.gender a{
  margin-right:8%;
}
.state select{
  border: 1px solid lightgrey;
  width: 94%;
  height: unset;
  padding: 3%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.terms div{
  margin-bottom:2%;
}
.terms a{
  margin-left:1%;
}
.submitDiv{
  text-align: center;
  margin-top: 4vh;
}
.submitDiv button{
  width:100%;
  height:5vh;
  border: 1px solid #F5BA1A;
  border-radius: 5px;
  background-color: #F5BA1A;
  color: cornsilk;
  outline: none;
  cursor: pointer;
}